/* header style */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    margin-bottom: 10px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 88px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(2, 2, 56);
}
#logoimg {
    width: 80px;
    padding-top: 10px;
    margin-left: 80px;
}
header ul {
    display: flex;
    text-decoration: none;
}
header ul li{
    list-style-type: none;
}
header ul li a {
    padding: 36px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#text{
    padding: 36px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
  header ul li a:hover {
    padding-bottom: 5px;
    color: #50cebe;
    border-bottom:2px solid #50cebe ;
}
/* end header */
/* start about us style */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.gallery{
    padding: 20px 0;
    position: relative;
}
.spachal-latter{
    color: #0a090e;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.gallery-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;

    margin:80px;
}
.box{
    text-align: center;
    border: 3px solid rgb(51, 45, 43);
    background-color:#009688;
    height: 300px;
    padding-top: 40%;
    border-radius: 20px;
    color: white;
    border-top-left-radius:50px ;
    border-bottom-right-radius:50px ;
}
.box p {
    padding: 50px;
}
.gallery #hbutton{
    background-color: rgba(241, 70, 39, 0.959);
    color: white;
    text-align: center;
    font-weight: bold;
    border: rgb(218, 44, 13) 2px solid ;
    cursor: pointer;
    margin-left: 45%;
    width: fit-content;
    margin-top: 20px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
}
#hbutton:hover {
    background-color: white;
    color: rgba(241, 70, 39, 0.959);
    border: rgb(218, 44, 13) 2px solid ;
}
/* end about us style */
/* start about us style */
.information h1{
    text-align: center;
    margin: 20px;
    font-size: 80px;
    color: rgb(2, 2, 56);
}
.information h3{
    text-align: center;
    margin: 10px;
}
video{
    margin-left: 28%;
    width : 600px ;
    height: 350px;
}
.information .boxcontant ul{
    margin-left: 45%;
    font-size: larger;
}
.information .boxcontant ul li{
    padding: 10px;
    color: rgb(2, 2, 56);
}
/* end about us style */
/* start cars style */
#title{
    text-align: center;
    margin: 20px;
    font-size: 80px;
    color: rgb(2, 2, 56);
}
#text{
    padding: 36px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#cartable{
    margin: auto;
    border-radius: 20px;
    border-spacing: 0;
    font-size: 20px;
}
#cartable th{
    background-color: #009688;
    color: white;
    padding: 15px;
    font-weight: bold;

}
#cartable td{
    text-align: center;
    border: 1px solid #009688;
    margin: 0;
    background-color: rgba(240, 248, 255, 0.685);
}
#cartable td button {
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}
#cartable button img {
    width:200px;
    height:200px;
}
/* end cars style */
/* start details style */
#carDetails,
.carmoredetails{
    font-size: 25px;
}
#refresh{
    border-radius: 10px;
    cursor: pointer;
    width: 20px;
    position: relative;
    top: 8px;
    margin-left:10px ;
}
.buttons{
    margin: 15px 15px 25px;
    font-size: 25px;
}
#validbutton{
    width: fit-content;
    display: inline;
    margin-right: 10px;
    margin-left: 43%;
}
#button,
#validbutton{
    margin-top: 20px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 12px;
    background-color: #009688;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
#button:hover{
  background-color: white;
  color: #009688;
  border: 2px solid #009688;
  padding: 9px;
}
#buyform{
    background-color: #009688;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    padding: 20px;
}
#carPhoto{
    width: 200px;
    height: 200px;
    position:absolute;
    right: 5px;
    top: 15px;
}
.carmoredetails img{
    width: 200px;
    height: 200px;
    position:absolute;
    right: 20%;
    top: 15px;
}
#carDetails div{
    margin: 20px 0 20px 25%;
}
.carmoredetails div{
    margin: 20px 0 20px 13.5%;
}
#calc{
    margin: auto;
    border-radius: 10px;
}
#calc th{
    background-color: #009688;
    color: white;
    padding: 15px;
    border-radius: 3px;
    font-weight: bold;
}
#calc td{
    padding: 10px;
    text-align: center;
    border: 1px solid grey;
    margin: 0;
    background-color: rgba(243, 244, 245, 0.822);
}
#buyform input{
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}
#buyform td {
    color: white;
    width: 300px;
}

.error,
#note {
    font-size: 80%;
    color: rgb(202, 2, 2);
}
#note {
    color: white;
}
.succ {
    font-size: 80%;
    color: green;
}
#capt{
    color: #0a090e;
    background-color: white;
    border-radius: 6px;
    margin: auto 16px;
    padding: 7px;
}
/* end details style */